---
import type { GetStaticPaths } from 'astro';

import type { Recipe } from '../../../lib/types/recipe';
import { getAllRecipes, getRecipeBySlug } from '../../../lib/contentful';
import { displayRichText } from '../../../lib/richTextOptions';

import BaseLayout from '../../../layouts/BaseLayout.astro';

export const getStaticPaths = (async () => {
  const recipes = await getAllRecipes();

  return recipes.map((recipe: Recipe
  ) => ({
    params: { slug: recipe.slug },
    props: { recipe },
  }));
}) satisfies GetStaticPaths;

const { recipe } = Astro.props;

if (!recipe?.slug) {
  throw new Error('Recipe slug is required but not found');
}
const fullRecipe = await getRecipeBySlug(recipe.slug);
const hasImages = fullRecipe.imagesCollection && fullRecipe.imagesCollection.items && fullRecipe.imagesCollection.items.length > 0;
const firstImage = hasImages && fullRecipe.imagesCollection?.items[0] ? fullRecipe.imagesCollection?.items[0] : null;

---

<script>
  let wakeLock: WakeLockSentinel | null = null;
  
  async function enableWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request('screen');
      console.log('Screen will stay awake!');

      wakeLock.addEventListener('release', () => {
        console.log('Screen can sleep');
      });
    } catch (err: any) {
      console.error(`${err.name}, ${err.message}`);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const keepAwakeButton = document.getElementById("keepAwakeButton");

    keepAwakeButton?.addEventListener("click", function () {
      enableWakeLock();
    });

  });  
</script>

<BaseLayout title={fullRecipe.name} description={"Recipe for " + fullRecipe.name}>
  <div class="container recipe">    
    <div class="row">
      <div class="flex flex-row justify-between">
        <h1 class="text-2xl font-bold mb-2 ml-5">{fullRecipe.name}</h1>

          {fullRecipe.rating ? (
            <p class="!mt-3">Rating: {'⭐'.repeat(fullRecipe.rating)}</p>
          ) : (
            <p class="!mt-3 text-gray-500">Not rated (yet!)</p>
          )}

          <button id="keepAwakeButton" class="text-xs my-auto min-w-fit whitespace-nowrap cursor-pointer border border-gray-300 rounded px-2 py-1">
            Keep Screen Awake?
          </button>
      </div>
    </div>
    
    <div class={`grid grid-cols-1 ${hasImages ? 'lg:grid-cols-3' : 'lg:grid-cols-2'} gap-4`}>
      <div>
        <div class="bg-gray-50 p-6 rounded-lg">
          <h2 class="text-xl font-semibold mb-4">Ingredients</h2>
          {fullRecipe.ingredients && (
            <Fragment set:html={displayRichText(fullRecipe.ingredients)} />
          )}
        </div>
      </div>
      
      {hasImages && firstImage && (
        <div class="size-fit my-auto mx-auto">
          <img 
            src={firstImage.url} 
            alt={firstImage.title || fullRecipe.name}
            class="w-full h-96 object-cover rounded-lg"
          />
          {firstImage.description && (
            <p class="text-sm text-gray-600 mt-5 italic text-center">{firstImage.description}</p>
          )}
        </div>
      )}
        
      <div class="flex flex-col md:gap-5 my-auto">
        {fullRecipe.personalNote && (
          <blockquote class="mt-2">
            <h2 class="text-lg font-semibold mb-2">Personal Note</h2>
            <p>{fullRecipe.personalNote}</p>
          </blockquote>
          )}

          {fullRecipe.notes && (
            <blockquote class="mt-2 pink">
              <h2 class="text-lg font-semibold mb-2">Notes</h2>
              <Fragment set:html={displayRichText(fullRecipe.notes)} />
            </blockquote>
          )}
        </div>
        
      </div>
    </div>
        
    <h2 class="text-2xl font-semibold mb-4">Method</h2>
    {fullRecipe.directions && (
      <Fragment set:html={displayRichText(fullRecipe.directions)} />
    )}
       
    {fullRecipe.review && (
      <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Review</h2>
        <Fragment set:html={displayRichText(fullRecipe.review)} />
      </div>
    )}
  </div>
</BaseLayout>
