---
import BaseLayout from "../layouts/BaseLayout.astro";
import SignComponent from "../components/sign";
import { getAllRecipes } from "../lib/contentful";
import { getAllBlogs } from "../lib/contentful";
import { getAllPortfolioItems } from "../lib/contentful";
import moment from "moment";

const recipes = await getAllRecipes();
const recentRecipe = recipes.length > 0 ? recipes[0] : null;

const blogs = await getAllBlogs();
const recentBlog = blogs.length > 0 ? blogs[0] : null;

const portfolioItems = await getAllPortfolioItems();
const recentPortfolioItem = portfolioItems.length > 0 ? portfolioItems[0] : null;
---

<BaseLayout title="Home">
  <SignComponent
    content="Content Incoming!"
    containerStyle={{ justifyContent: "center", alignItems: "center" }}
    signStyle={{ fontSize: "2rem" }}
  />
  <div class="text-center">
    <p> ✨ Hello and welcome to my site! ✨ </p>
    <p>This site is a true labour of love - I'm still working on the content but in the meantime, you can check out my blog, workshop or some of my latest additions below!</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {recentRecipe && (
      <div class="container mt-4 latest-block blue">
        <div class="bg-gray-50 dark:bg-gray-800 p-6 rounded-lg">
          <h2 class="text-xl font-semibold mb-3">Latest Recipe...</h2>
          <h3 class="text-lg font-bold text-center">
            <a href={`/workshop/recipes/${recentRecipe.slug}`}>
              {recentRecipe.name} →
            </a>
          </h3>
          {recentRecipe.rating && (
            <p class="text-sm mb-3 text-center">
              {'⭐'.repeat(recentRecipe.rating)}
            </p>
          )}
          {recentRecipe.personalNote && (
            <p class="text-sm text-gray-600 dark:text-gray-400 mb-3 text-center">{recentRecipe.personalNote}</p>
          )}
        </div>
      </div>
    )}

    {recentBlog && (
      <div class="container mt-4 latest-block pink">
        <div class="bg-gray-50 dark:bg-gray-800 p-6 rounded-lg">
          <h2 class="text-xl font-semibold mb-3">Latest Blog...</h2>
          <h3  class="text-lg font-bold text-center">
            <a href={`/blog-posts/${recentBlog.slug}`}>
              {recentBlog.title} →
            </a>
          </h3>
          <p class="text-xs text-gray-500 dark:text-gray-400 mb-3 text-center">Posted {moment(recentBlog.date).format("DD MMM, YYYY")}</p>
          <p class="text-sm text-gray-600 dark:text-gray-400 mb-3 text-center">{recentBlog.description}</p>
        </div>
      </div>
    )}

    {recentPortfolioItem && (
      <div class="container mt-4 latest-block blue">
        <div class="bg-gray-50 dark:bg-gray-800 p-6 rounded-lg">
          <h2 class="text-xl font-semibold mb-3">Latest Project...</h2>
          <h3 class="text-lg font-bold text-center">
            <a href={`/portfolio/${recentPortfolioItem.slug}`}>
              {recentPortfolioItem.title} →
            </a>
          </h3>
          <p class="text-sm text-gray-600 dark:text-gray-400 mb-3 text-center">{recentPortfolioItem.description}</p>
        </div>
      </div>
    )}
  </div>
</BaseLayout>
